.requests-page-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    font: 400 15px Roboto, sans-serif;
    margin-bottom: 60px;
}


.requests-container {
    width: fit-content;
    background: rgb(245, 242, 243);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
    margin-top: 80px;
}

.requests-container h1 {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font: 400 70px Roboto, sans-serif;
    text-align: center;
    margin-bottom: 60px;

}

div.requests-header {
    display: flex;
    flex-direction: line;
    justify-content: left;
    margin-bottom: 20px;
    padding-left: 30px;
    
}

div.requests-header h2 {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font: 400 25px Roboto, sans-serif;        
}


div.requests-header h2.colum2{       
    margin-left: 80px; 
}

div.requests-header h2.colum3{  
    margin-left: 80px; 
}

div.requests-header h2.colum4{
    margin-left: 100px; 
}

div.requests-header h2.colum5{   
    margin-left: 150px; 
}

div.requests-header div.colum6 {         
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
 }

details{
    width: flex;
    padding: 10px 0;
    background-color: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;    
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.15);    
}



summary{
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
}

summary p{
    color: rgb(0, 0, 0);
    font: 400 20px Roboto, sans-serif;
    display: inline;
    white-space: nowrap;
}

summary .colum1{               
    margin-left: 55px; 
}

summary .colum2{       
    margin-left: 145px; 
}

summary .colum3{  
    margin-left: 132px; 
}

summary .colum4{
    margin-left: 116px; 
}

summary .colum5{   
    margin-left: 120px; 
}

summary div.userImage {         
    width: 40px;
    height: 40px;
    border-radius: 50%;         
    margin-left: 80px; 
  }

.circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

summary .colum6 {   
    margin-right: 55px;        
    margin-left: 5px;      
  }

div.request-details{
    display: flex;    
    flex-direction: column;
    margin-top: 10px;  
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: flex;
    padding: 20px 0;
    background-color: transparent;
    border: 2px solid black;   
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.15); 
}

.request-content {   
    display: flex;    
    flex-direction: line;
    align-items: center;     
    margin-top: 10px;  
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px; 
}

div.request-content form{   
    margin-left: 20px;
}

.request-content div.colum1{   
    display: flex;    
    flex-direction: column;
    align-items: center;  
    margin-top: 10px;  
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: flex;
    padding: 20px 0;
    background-color: transparent;
    border: 2px solid black;   
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.15);  
}

.request-content2 {      
    display: flex;    
    flex-direction: line;
    align-items: center;     
    margin-top: 10px;  
    margin-left: 40px;
    margin-right: 20px; 
}

div.request-comments
  {
    width: 500px;   
    border-radius: 8px;       
    height: 100px;
    display: flex;
    text-indent: 15px;
    color: black;
    border: 1px solid white;
    font: 400 18px Robot, sans-serif;    
}

div.Buttons{
    margin-left: 220px; 
    margin-top: 10px; 
}

button.Update-notify{
    width: 110px;
    height: 80px;       
    cursor: pointer;
    border: none; 
    background: rgb(74, 245, 245);
    border: 0;
    border-radius: 8px;    
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);  
}

button.Confirm-reservation{    
    width: 110px;
    height: 80px;
    margin-left: 60px;    
    cursor: pointer;
    border: none; 
    background: rgb(74, 245, 151);
    border: 0;
    border-radius: 8px;    
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);  
}

.details{
    margin-bottom: 10px;
}