@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: corder-box;    
}

.header-container{
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;    
}

.home-link a{
    font: 400 25px Roboto, sans-serif;
    display: inline;
    align-items: center;
    padding: 15px 60px;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.navigation a{
    font: 400 25px Roboto, sans-serif;
    display: inline;
    align-items: center;
    padding: 15px 60px;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}


.profile{
    float: right;
    color: #000000;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    font: 400 25px Roboto, sans-serif
}




body{
    font: 400 14px Roboto, sans-serif;
    background-color: #D2E1F1;
    -webkit-font-smoothin: antialiased;
}

input, button, textarea{
    font: 400 18px Robot, sans-serif;

}

button{
    cursor: pointer;
}

form input{
    width: 90%;
    height: 45px;
    color: black;
    border: 1px solid white;
    border-radius: 8px;   
    margin-bottom: 16px;
    display: flex;
    text-indent: 15px;
}

.button{
    width: 90%;
    height: 45px;    
    background: black;
    border: 0;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2;  /*cria uma delay na transição do elemento quando houver um comportamento de interação defenido */
}

.button:hover{ /*define o comportamento do elemento quando o mouse estiver sobre ele.*/
    filter: brightness(70%)   /*remove o brilho do elemento*/
}