@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;    
}

.header-container{
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;           
    padding: 20px 60px;
    display: flex;
    justify-content: space-between    
}

.header-container div.home{
    overflow: hidden; 
    display: flex;           
}

.header-container div.navigation{   
    overflow: hidden;   
    display: flex;    
}

.header-container div.profile{   
    overflow: hidden;  
    display: flex;       
}

.home a{
    font: 400 25px Roboto, sans-serif;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
    margin-left: 20px;
}

.navigation a{
    font: 400 25px Roboto, sans-serif;    
    color: gray;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;    
    margin-right: 70px;
}

.profile a{
    font: 400 25px Roboto, sans-serif;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
    margin-right: 20px;
}

body{
    font: 400 14px Roboto, sans-serif;
    background-color: #D2E1F1;
    -webkit-font-smoothin: antialiased;
}

input, button, textarea{
    font: 400 18px Robot, sans-serif;
}

button{
    cursor: pointer;
}

form input{
    width: 90%;
    height: 45px;
    color: black;
    border: 1px solid white;
    border-radius: 8px;   
    margin-bottom: 16px;
    display: flex;
    text-indent: 15px;
}

.button{
    width: 90%;
    height: 45px;    
    background: black;
    border: 0;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2;  /*cria uma delay na transição do elemento quando houver um comportamento de interação defenido */
}

.button:hover{ /*define o comportamento do elemento quando o mouse estiver sobre ele.*/
    filter: brightness(70%)   /*remove o brilho do elemento*/
}