.logon-page-container{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.logon-container{
    width: fit-content;
    background: rgb(245, 242, 243);
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius:8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 80px;      
}

.logon-container section.form {  
    width: 100%; 
}

.logon-container section.form form {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    flex-direction: column;
    /*para dar distância entre os elementos*/
}

.logon-container section.form h1 {    
    margin-bottom: 32px;
    color: rgb(0, 0, 0);
    font: 400 70px Roboto, sans-serif;        
}

.logon-container section.form a {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.logon-container section.form svg {
    margin-right: 8px;
}

.logon-container section.form a:hover {
    opacity: 0.8;
}