.register-page-container{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    font: 400 15px Roboto, sans-serif;
    margin-bottom: 60px;
}


.register-container{
    width: fit-content;
    background: rgb(245, 242, 243);
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius:20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;   
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 20px;
    margin-top: 80px; 
           
}

.register-container section.form-register {  
    width: 100%; 
    
}

.register-container section.form-register form  {
    align-items: center;    
    display: flex;
    width: 100%;
    flex-direction: column;
    /*para dar distância entre os elementos*/
}


h1 { 
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font: 400 70px Roboto, sans-serif;     
}

.register-container section.form-register h2 {    
    margin-bottom: 5px;
    margin-top: 5px;        
}

.register-container section.form-register input {    
    margin-bottom: 5px;        
}

.register-container section.form-register button {    
    margin-top: 5px;        
}

.register-container section.form-register a {
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: gray;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.register-container section.form-register a:hover {
    opacity: 0.8;
}